{% extends 'base.html' %}
{% block content %}
<div class="center">
    <div class="card">
        <form action="" method="post">
            {% csrf_token %}
            <h3>Solve wordle!</h3>
            <a href="https://wordlegame.org" role='button' class='btn btn-outline-secondary' style='margin-bottom:1em;'>Wordle</a>
            <div class="mb-3">
                <label for="" class="form-label" style='color:tomato;'>Rejected letters:</label>
                <input type="text" class="form-control" name='rejected_letters' placeholder="Any number of letters">
              </div>
            <div class="mb-3">
                <label for="" class="form-label" style='color:orange;'>Wrong placed letters:</label>
                <div style='display:grid;grid-template-columns: 50px 50px 50px 50px 50px;'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='wrong_place_letters1'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='wrong_place_letters2'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='wrong_place_letters3'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='wrong_place_letters4'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='wrong_place_letters5'>
                </div>
            </div>
            <div class="mb-3">
                <label for="" class="form-label" style='color:green;'>Correct letters:</label>
                <div style='display:grid;grid-template-columns: 50px 50px 50px 50px 50px;'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='correct_letters1'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='correct_letters2'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='correct_letters3'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='correct_letters4'>
                    <input type="text" style='width:2.5em;' maxlength='1' class="form-control" name='correct_letters5'>
                </div>

            </div>
            <input type="hidden" name="word_list" value='{{five_letter_words}}'>
            <input type="hidden" name="turn" value={{turn}}>
            {% if message == '' %}
                <input type="submit" value="submit" class='btn btn-primary' id='submit_button'>
            {% endif %}
        </form>
        <div>
            {% if message != '' %}
            <h3 style='color:green;'>{{message}}</h3>
            <p>Wordle solved in {{turn}} turn{{turn|pluralize:'s'}}.</p>
            <a href="{% url 'wordle_solver' %}" class="btn btn-outline-primary" aria-current="page">Solve another wordle</a>
            {% else %}
            <p>Turn: {{turn}}</p>
            <p>Words left: {{how_many}}</p>
            <label for="word_list">Word list:</label>
            <textarea class='form-control' name="word_list" id="" cols="30" rows="10" disabled readonly>{{five_letter_words}}</textarea>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}