{% extends 'base.html' %}
{% block content %}
<div class="center">
    <div class="card" style='justify-content:center;'>
        <div class="card_head" style='display:flex;justify-content:center;'>
            <h3>TIC TAC TOE</h3>
            <a role="button" href={% url 'tic_tac_toe' %} class="btn btn-outline-secondary" style='position:absolute;top:4em;'>Refresh <i class="fa-solid fa-rotate"></i></a>
            
        </div>
        <div class="center">
            <div class="tic_tac_toe_board">

                <div style='border-right: 2px solid black;border-bottom: 2px solid black;' class='x spot' data-spot='7'>

                </div>
                <div style='border-left: 2px solid black;border-right: 2px solid black;border-bottom: 2px solid black;' class='x spot' data-spot='8'>
                    <div id="line8"></div>
                </div>
                <div style='border-left: 2px solid black;border-bottom: 2px solid black;' class='x spot' data-spot='9'>
                    
                </div>



                <div style='border-bottom: 2px solid black;border-right: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='4'>
                    <div id="line4" class=''> </div>
                </div>
                <div style='border: 2px solid black;' class='x spot' data-spot='5'>
                    <div id="line5"></div>
                </div>
                <div style='border-bottom: 2px solid black;border-left: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='6'>
                    <div id="line6"></div>
                </div>



                <div style='border-right: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='1'>

                </div>
                <div style='border-left: 2px solid black;border-right: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='2'>
                    <div id="line2"></div>
                </div>
                <div style='border-left: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='3'>
                    
                </div>

            </div>
        </div>
    </div>
</div>
<form action="" method="post" name='spot_form'>
    {% csrf_token %}
    <input type="hidden" id='spot_input' name="spot" value="{{spot}}">
    <input type="hidden" name="mark" value="{{mark}}">
    <input type="hidden" name="legal_moves" value="{{legal_moves}}">
    <input type="hidden" name="library_of_board" value="{{library_of_board}}">
</form>

<script>
    let spots = document.getElementsByClassName('x')
    let legal_moves = {{legal_moves}}
    let library_of_board = '{{js_library}}'
    library_of_board = library_of_board.replaceAll('&#x27;','"')

    library_of_board = JSON.parse(library_of_board)




    function available_spots(spots,legal_moves) {
        for (i=0;spots.length>i;i++) {
            spots[i].classList.remove('spot')
        }

        for (i=0;spots.length>i;i++) {

            let spot = spots[i].dataset.spot

            if (library_of_board[spot]=='O') {
                spots[i].innerHTML = '<i class="fa-solid fa-o fa-5x"></i>'
            } else if (library_of_board[spot]=='X') {
                spots[i].innerHTML = '<i class="fa-solid fa-xmark fa-6x"></i>'
            }
        }
 
        for (k=0;legal_moves.length>k;k++) {

            for (l=0;spots.length>l;l++) {
                let spot = spots[l].dataset.spot

                if (spots[l].dataset.spot == legal_moves[k]) {
                    spots[l].classList.add('spot')

                    spots[l].addEventListener('click',(e)=>{
                        document.getElementById('spot_input').value = spot
                        document.spot_form.submit()
                    })
                }
            }
        }
    }

    available_spots(spots,legal_moves)

    if ({{win_line_spot}}) {
        let win_line_spot = document.querySelector('[data-spot="{{win_line_spot}}"]')
        console.log(win_line_spot)
        var div = document.createElement("div")
        div.style.width = "300px"
        div.style.height = "10px"
        div.style.background = "red"
        div.style.position = 'absolute'
        div.style.borderRadius = '5px'
        if ('{{win_line_orientation}}'=='vertical') {
            div.style.transform = 'rotate(90deg)'
        } else if ('{{win_line_orientation}}'=='diagonal_135') {
            div.style.transform = 'rotate(135deg)'
        } else if ('{{win_line_orientation}}'=='diagonal_45') {
            div.style.transform = 'rotate(45deg)'
        }

        win_line_spot.appendChild(div)
    }

    if ('{{outcome}}'=='O') {

    } else if ('{{outcome}}'=='X') {

    } else if ('{{outcome}}'=='tie') {

    }
</script>
{% endblock content %}