{% extends 'base.html' %}
{% block content %}

<div class="center">
    <div class="card" style='justify-content:center;'>
        <div class="card_head" style='display:grid;grid-template-columns: 1fr 1fr 1fr;'>
            <div>
                <h4>You</h4>
                <h4 id='your_points'>0</h4>
                <h4 id='opponent'>There is no one yet...</h4>
                <h4 id='opponen_points'>0</h4>

            </div>
            <div style='position: relative;align-items:center;display:flex;flex-direction:column;' id='play_again'>
                <h2 id='outcome_display' style='color:tomato;'></h2>
                <div id="hourglass" ></div>
            </div>
            <div style='position: relative;'>
                {% if request.user.username == game.host.username %}
                <a role='button' class="btn btn-outline-danger" href="{% url 'ttt_lobby' %}" style='position:absolute;left:25%;'id='close_room'>Close room</a>
                {% else %}
                <a role='button' class="btn btn-outline-secondary" href="{% url 'ttt_lobby' %}" style='position:absolute;left:25%;' id='back_to_lobby'>Back to lobby</a>
                {% endif %}
            </div>
        </div>
        <div class="center">
            <div class="tic_tac_toe_board">

                <div style='border-right: 2px solid black;border-bottom: 2px solid black;' class='x spot' data-spot='7'>
                    
                </div>
                <div style='border-left: 2px solid black;border-right: 2px solid black;border-bottom: 2px solid black;' class='x spot' data-spot='8'>
                    <div id="line8"></div>
                </div>
                <div style='border-left: 2px solid black;border-bottom: 2px solid black;' class='x spot' data-spot='9'>
                    
                </div>



                <div style='border-bottom: 2px solid black;border-right: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='4'>
                    <div id="line4"></div>
                </div>
                <div style='border: 2px solid black;' class='x spot' data-spot='5'>
                    <div id="line5"></div>
                </div>
                <div style='border-bottom: 2px solid black;border-left: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='6'>
                    <div id="line6"></div>
                </div>



                <div style='border-right: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='1'>

                </div>
                <div style='border-left: 2px solid black;border-right: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='2'>
                    <div id="line2"></div>
                </div>
                <div style='border-left: 2px solid black;border-top: 2px solid black;' class='x spot' data-spot='3'>
                    
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://js.pusher.com/7.2/pusher.min.js"></script>

<script>
    let hourglassInterval = setInterval(()=>{},1000000)

    let outcome_display = document.getElementById('outcome_display')

    let play_again = document.getElementById('play_again')

    let your_points = document.getElementById('your_points')
    
    let opponent_points = document.getElementById('opponen_points')

    let opponent = document.getElementById('opponent')

    if ('{{request.user.username}}' == '{{game.host.username}}') {
        player_mark = 'O'
    } else {
        player_mark = 'X'
        opponent.innerHTML = '{{game.host.username}}'
    }

    let spots = document.getElementsByClassName('x')

    let mark = 'O'

    let legal_moves = [7,8,9,4,5,6,1,2,3]

    let library_of_board = {7:" ",8:" ",9:" ",4:" ",5:" ",6:" ",1:" ",2:" ",3:" "}

    function set_default() {
        mark = 'O'
        legal_moves = [7,8,9,4,5,6,1,2,3]
        library_of_board = {7:" ",8:" ",9:" ",4:" ",5:" ",6:" ",1:" ",2:" ",3:" "}

        for (let i=0;spots.length>i;i++) {
            spots[i].classList.remove('spot')
            spots[i].classList.remove('spot_other_color')
        }
    }

    function clear_board() {
        let win_line_drawn = document.getElementById('win_line')

        if (win_line_drawn) {
            win_line_drawn.remove()
        }

        for (let i=0;spots.length>i;i++) {

            if (spots[i].getElementsByTagName('i')[0]) {
                spots[i].getElementsByTagName('i')[0].remove()
            }
        }
    }

    set_default()

    var user_joined = location.protocol + '//' + location.host + '/api/user_joined/'

    var user_left = location.protocol + '//' + location.host + '/api/user_left/'

    var player_move = location.protocol + '//' + location.host + '/api/player_move/'

    var game_continue = location.protocol + '//' + location.host + '/api/game_continue/'

    //Pusher.logToConsole = true

    var pusher = new Pusher('dc6b22fbfe1791ca3f03', {
        cluster: 'eu'
    })
    
    var channel = pusher.subscribe('{{game.id}}')

    fetch(user_joined, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            'username': '{{request.user.username}}',
            'game': '{{game.id}}'
        }),
      })
        .then((response) => response.json())

    window.addEventListener("beforeunload", (e) => {
        fetch(user_left, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                'username': '{{request.user.username}}',
                'game': '{{game.id}}'
            }),
            })
            .then((response) => response.json())
    })

    function change_spot_display() {
        if (player_mark != mark) {
            for (i=0;spots.length>i;i++) {
                spots[i].classList.remove('spot')
                spots[i].classList.add('spot_other_color')
            }
        } else {
            for (i=0;spots.length>i;i++) {
                spots[i].classList.remove('spot_other_color')
                if (legal_moves.includes(parseInt(spots[i].dataset.spot))) {
                    spots[i].classList.add('spot')
                }
            }
        }
    }

    function win_check() {
        let x = library_of_board

        let lines_list = [x[7]==x[8] && x[8]==x[9] && x[9]!=' ',
                    x[4]==x[5] && x[5]==x[6] && x[6]!=' ',
                    x[1]==x[2] && x[2]==x[3] && x[3]!=' ',
                    x[7]==x[4] && x[4]==x[1] && x[1]!=' ',
                    x[8]==x[5] && x[5]==x[2] && x[2]!=' ',
                    x[9]==x[6] && x[6]==x[3] && x[3]!=' ',
                    x[9]==x[5] && x[5]==x[1] && x[1]!=' ',
                    x[7]==x[5] && x[5]==x[3] && x[3]!=' '
        ]

        let win_line = [false,false]

        if (lines_list[0]) {
            win_line = [8,'horizontal']
        } else if (lines_list[1]) {
            win_line = [5,'horizontal']
        } else if (lines_list[2]) {
            win_line = [2,'horizontal']
        } else if (lines_list[3]) {
            win_line = [4,'vertical']
        } else if (lines_list[4]) {
            win_line = [5,'vertical']
        } else if (lines_list[5]) {
            win_line = [6,'vertical']
        } else if (lines_list[6]) {
            win_line = [5,'diagonal_135']
        } else if (lines_list[7]) {
            win_line = [5,'diagonal_45']
        }

        if (x[7]==x[8]&&x[8]==x[9]&&x[9]=='O' || x[4]==x[5]&&x[5]==x[6]&&x[6]=='O' || x[1]==x[2]&&x[2]==x[3]&&x[3]=='O' || x[7]==x[4]&&x[4]==x[1]&&x[1]=='O' || x[8]==x[5]&&x[5]==x[2]&&x[2]=='O' || x[9]==x[6]&&x[6]==x[3]&&x[3]=='O' || x[9]==x[5]&&x[5]==x[1]&&x[1]=='O' || x[7]==x[5]&&x[5]==x[3]&&x[3]=='O'){
            return ['O', win_line]
        } else if (x[7]==x[8]&&x[8]==x[9]&&x[9]=='X' || x[4]==x[5]&&x[5]==x[6]&&x[6]=='X' || x[1]==x[2]&&x[2]==x[3]&&x[3]=='X' || x[7]==x[4]&&x[4]==x[1]&&x[1]=='X' || x[8]==x[5]&&x[5]==x[2]&&x[2]=='X' || x[9]==x[6]&&x[6]==x[3]&&x[3]=='X' || x[9]==x[5]&&x[5]==x[1]&&x[1]=='X' || x[7]==x[5]&&x[5]==x[3]&&x[3]=='X'){
            return ['X', win_line]
        } else if (legal_moves.length == 0) {
            return ['tie',win_line]
        } else {
            return [false,win_line]
        }
    }

    var clearHourglass = () => {
        clearInterval(hourglassInterval)
        // do something else here after firstFunction completes
        setTimeout(()=>{
            hourglass.innerHTML = ''
        },1000)
    }

    change_spot_display()
    set_default()
    channel.bind('game_continue', function(data) {
        if (data.game_continue == 'true') {
            change_spot_display()
            outcome_display.innerHTML = ''
            clearHourglass()
        }
    })
    
    channel.bind('user_left', function(data) {
        if (data.username == '{{game.host.username}}') {
            setTimeout(()=>{
                window.location = window.location.href
                //window.location = 'http://kometaa.pythonanywhere.com/games/ttt_lobby/'
            },500)
        } else {
            if (play_again.querySelector('button')) {
                play_again.querySelector('button').remove()
            }
            outcome_display.innerHTML = ''
            clearHourglass()
            player_mark = 'O'
            opponent.innerHTML = `${data.username} left`
            set_default()
            clear_board()
        }
    })
    channel.bind('user_joined', function(data) {
        if (data.username != '{{request.user.username}}') {
            change_spot_display()
            outcome_display.innerHTML = ''
            clearHourglass()
            opponent.innerHTML = data.username
            your_points.innerHTML = '0'
            opponen_points.innerHTML = '0'
        }
    })
    channel.bind('player_move', function(data) {
        spot = document.querySelector(`[data-spot="${data.spot}"]`)
        spot.classList.remove('spot')
        spot.innerHTML += (data.mark)

        if (data.mark == '<i class="fa-solid fa-o fa-6x"></i>') {
            mark = 'O'
        } else {
            mark = 'X'
        }

        library_of_board[parseInt(data.spot)] = mark

        let index = legal_moves.indexOf(parseInt(data.spot))

        legal_moves.splice(index,1)

        if (mark=='O') {
            mark = 'X'
        } else {
            mark = 'O'
        }

        if (win_check()[0]) {
            let win_data = win_check()
            let win_line_spot = win_data[1][0]
            let win_line_orientation = win_data[1][1]
            if (win_data[0] == 'tie') {
                outcome_display.style.color = '#FFA500'
                outcome_display.innerHTML = 'It is a tie...'
            } else if (win_data[0] == 'O') {
                if (player_mark == 'O') {
                    outcome_display.style.color = 'green'
                    outcome_display.innerHTML = 'You won!!!'
                    your_points_int = parseInt(your_points.innerHTML) + 1
                    your_points.innerHTML = `${your_points_int}`
                } else {
                    outcome_display.style.color = 'tomato'
                    outcome_display.innerHTML = 'You lost :('
                    opponent_points_int = parseInt(opponent_points.innerHTML) + 1
                    opponent_points.innerHTML = `${opponent_points_int}`
                }
            } else if (win_data[0] == 'X') {
                if (player_mark == 'X') {
                    outcome_display.style.color = 'green'
                    outcome_display.innerHTML = 'You won!!!'
                    your_points_int = parseInt(your_points.innerHTML) + 1
                    your_points.innerHTML = `${your_points_int}`
                } else {
                    outcome_display.style.color = 'tomato'
                    outcome_display.innerHTML = 'You lost :('
                    opponent_points_int = parseInt(opponent_points.innerHTML) + 1
                    opponent_points.innerHTML = `${opponent_points_int}`
                }
            }
            for (let i=0;spots.length>i;i++) {
                spots[i].classList.remove('spot')
                spots[i].classList.remove('spot_other_color')
            }
            let button = document.createElement('button')
            button.id = 'play_again_button'
            button.classList.add('btn')
            button.classList.add('btn-success')
            button.innerHTML = 'Play again!'
            play_again.appendChild(button)

            button = document.getElementById('play_again_button')

            button.addEventListener('click',(e)=>{
                fetch(game_continue, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        'game': '{{game.id}}'
                    }),
                  })
                    .then((response) => response.json())

                e.target.remove()
                
                let hourglass = document.getElementById('hourglass')
                hourglass.style.transform = 'rotate(0deg)'
                hourglass.innerHTML = '<i class="fa-solid fa-hourglass-start fa-2x"></i>'
                setTimeout(()=>{
                    hourglass.innerHTML = '<i class="fa-solid fa-hourglass-half fa-2x"></i>'
                    setTimeout(()=>{
                        hourglass.innerHTML = '<i class="fa-solid fa-hourglass-end fa-2x"></i>'
                        setTimeout(()=>{
                            hourglass.style.transform = 'rotate(90deg)'
                        },500)
                    },500)
                },500)

                    hourglassInterval = setInterval(()=>{
                        hourglass.style.transform = 'rotate(0deg)'
                        hourglass.innerHTML = '<i class="fa-solid fa-hourglass-start fa-2x"></i>'
                        setTimeout(()=>{
                            hourglass.innerHTML = '<i class="fa-solid fa-hourglass-half fa-2x"></i>'
                            setTimeout(()=>{
                                hourglass.innerHTML = '<i class="fa-solid fa-hourglass-end fa-2x"></i>'
                                setTimeout(()=>{
                                    hourglass.style.transform = 'rotate(90deg)'
                                },500)
                            },500)
                        },500)
                    },2000)
                outcome_display.innerHTML = ''

                mark = 'O'

                legal_moves = [7,8,9,4,5,6,1,2,3]

                library_of_board = {7:" ",8:" ",9:" ",4:" ",5:" ",6:" ",1:" ",2:" ",3:" "}

                if (player_mark == 'O') {
                    player_mark = 'X'
                } else {
                    player_mark = 'O'
                }

                //change_spot_display()
                for (let i=0;spots.length>i;i++) {
                    spots[i].classList.remove('spot')
                    spots[i].classList.remove('spot_other_color')
                }

                clear_board()
            })

            let win_line = document.querySelector(`[data-spot="${win_line_spot}"]`)
            var div = document.createElement("div")
            div.id = 'win_line'
            div.style.width = "300px"
            div.style.height = "10px"
            div.style.background = "red"
            div.style.position = 'absolute'
            div.style.borderRadius = '5px'
            if (`${win_line_orientation}`=='vertical') {
                div.style.transform = 'rotate(90deg)'
            } else if (`${win_line_orientation}`=='diagonal_135') {
                div.style.transform = 'rotate(135deg)'
            } else if (`${win_line_orientation}`=='diagonal_45') {
                div.style.transform = 'rotate(45deg)'
            }
            if (win_line) {
                win_line.appendChild(div)
            }
        } else {
            change_spot_display()
        }
    })    

    for (let i=0;spots.length>i;i++) {
        spots[i].addEventListener('click',(e) => {
            if (spots[i].classList.value == 'x spot') {
                if (mark == 'X') {
                    var mark_display = '<i class="fa-solid fa-xmark fa-6x"></i>'
                    mark = 'O'
                } else {
                    var mark_display = '<i class="fa-solid fa-o fa-6x"></i>'
                    mark = 'X'
                }

                let spot = spots[i].dataset.spot

                fetch(player_move, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        'username': '{{request.user.username}}',
                        'game': '{{game.id}}',
                        'mark': mark_display,
                        'spot': spot
                    }),
                  })
                    .then((response) => response.json())
            }
        })
    }
</script>
{% endblock content %}