{% extends 'base.html' %}
{% block content %}
<div class="center">
    <div class="card">
        <form action={% url 'change_password' %} method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="*****" name='current_password' required>
                <label for="floatingPassword">Current password</label>
                {% if errors.current_password_field %}
                <p style='color:red;font-size:.9rem;'>{{errors.current_password_field}}</p>
                {% endif %}
            </div>
            
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="*****" name='new_password' required>
                <label for="floatingPassword">New password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="*****" name='new_password_confirm' required>
                <label for="floatingPassword">New password confirm</label>
                {% if errors.new_password_field %}
                <p style='color:red;font-size:.9rem;'>{{errors.new_password_field}}</p>
                {% endif %}
            </div>
            
            <input class="btn btn-primary mt-3" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}