{% extends 'base.html' %}
{% block content %}
<style>
    a.chat-link:link {
        background: lightgrey;
        text-decoration: none;
      }
      
      /* visited link */
      a.chat-link:visited {
        background: lightgrey;
        text-decoration: none;
      }
      
      /* mouse over link */
      a.chat-link:hover {
        background: lightblue;
      }
      
      /* selected link */
      a.chat-link:active {
        text-decoration: none;
      }

    .x:hover {
        border-radius: 1em;
        cursor: pointer;
        background: tomato;
    }
</style>

<div class="center">
    <div class="card">
        <h2>Create chat</h2>
        <form action="" method="post">
            {% csrf_token %}
            <input list='users' type="text" class='form-control mb-3' placeholder='Select user' name='chat_member'>
            <datalist id='users'>
                {% for user in users %}
                    <option value="{{user}}">
                {% endfor %}
            </datalist>
            <input type="submit" value="Create" class='btn btn-primary'>
        </form>
        <hr>
        <h2>Your chats</h2>
        {% for chat in chats %}
        <br>
            {% for member in chat.members.all %}
                {% if member != request.user %}
                    <div style='height:3em;display:grid;grid-template-columns:6fr 1fr'>
                        <a href={% url 'chat' chat.id %} style='height:inherit;display:grid;grid-template-columns:1fr 3fr;border-radius:1em;padding-left:1em;' class='chat-link'>
                            <p style='transform:translateY(.6em);color:black;'>{{member}}</p>
                            <p style='transform:translateY(.6em);color:black;'>{{chat.latest_message.title|slice:20}}{% if chat.latest_message.length > 20 %}...{% endif %}</p>
                        </a>
                        <p style='position:relative;'><i class="fa-solid fa-2x fa-xmark x" style='position:absolute;top:.25em;right:.5em;color:black;' data-chat='{{chat.id}}'></i></p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
<script>
    let delete_chat = document.getElementsByClassName('x')
    for (let i=0;delete_chat.length>i;i++) {
        delete_chat[i].addEventListener('click',(e)=>{
            e.preventDefault()
            window.location = location.protocol + '//' + location.host + '/users/delete_chat/' + delete_chat[i].dataset.chat + '/'
        })
    }
    
</script>
{% endblock content %}