body {
    background-color:#FFFAFA;
    height:auto;
    font-family: Tahoma;

}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    height:auto;
    margin:3em 0 3em 0;
}

.card {
    background-color: #F5F5F5;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 17px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 17px 0px rgba(66, 68, 90, 1);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 600px;
    flex-direction: column;
    flex-direction: row;
    position: relative;
}

.card_head {
    height: 5em;
    position: relative;
}

.add_task {
    position:absolute;
    right: 0px;
    top: .25em;
}

div.add_task a {
    color: 	white;
}

.task {
    display: grid;
    grid-template-columns: 2em auto auto 2em;
    height: 3em;
    padding-top: 0.75em;
}

.message {
    display:flex;
    height: 3em;
    padding-top: 0.75em;
    flex-wrap: wrap;
    justify-content: space-between;
}

@keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.task_title {
    left: 2em;
    top: 0.75em;
}
.task_delete {

    top: 1em;
    right: 2em;
    color:red;
}

.task_body {
    top: 0.75;
}

.task_done {
    color: #778899	;
}

@media screen and (max-width: 600px) {
    .card {
        width:90vw;
    }
}

.tic_tac_toe_board {
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.tic_tac_toe_board > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot:hover {
    cursor: pointer;
    background-color: lightblue;
}

.spot_other_color:hover {
    cursor: pointer;
    background-color: lightsalmon;
}

div.win_diagonal {
    position: absolute;
    transform: rotate(45deg);
    background: red;
    width: 390px;
    height: 10px;
    border-radius: 5px;
}

div.win_horizontal {
    position: absolute;
    background: red;
    width: 300px;
    height: 10px;
    border-radius: 5px;
}

div.win_vertical {
    position: absolute;
    transform: rotate(90deg);
    background: red;
    width: 300px;
    height: 10px;
    border-radius: 5px;
}