{% extends 'base.html' %}
{% block content %}
<div class="center">
    <div class="card">
        <h3>Enter new password</h3>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <br>
        <form action="" method='POST'>
            {% csrf_token %}
            {% for field in form %}
            {{field.label}}
            {{field}}
            {% for error in field.errors %}
            <p style='color:red;font-size:.9rem;'>{{error}}</p>
            {% endfor %}
            {% endfor %}

            <input class="btn btn-primary" type="submit" value="Change password">

        </form>

    </div>
</div>
<script>
    let new_password1 = document.getElementById('id_new_password1')
    let new_password2 = document.getElementById('id_new_password2')
    new_password1.classList.add("form-control")
    new_password1.classList.add("mb-3")

    new_password2.classList.add("form-control")
    new_password2.classList.add("mb-3")

</script>
{% endblock content %}